.banner {
    display: flex;
    justify-content: center;
}

.banner_content {
    max-width: 1140px;
    background-color: var(--background);
    padding: 70px 30px;
    border: 100px 10px;
    display: grid;
    gap: 20px;
    grid-template-columns: 2fr 1.2fr 1fr 1fr;
    grid-template-rows: minmax(260px, 430px) minmax(180px, 260px);
    grid-template-areas:
        "banner1 banner1 banner1 banner1"
        "texto_botao banner2 banner3 banner4";
    box-sizing: border-box;
    
    img {
        border-radius: 10px;
    }
}

.banner-1 {
    grid-area: banner1;
    overflow: hidden;
}

.banner-2 {
    grid-area: banner2;
    overflow: hidden;
}

.banner-3 {
    grid-area: banner3;
    overflow: hidden;
}

.banner-4 {
    grid-area: banner4;
    overflow: hidden;
}

.texto_botao {
    display: grid;
    grid-area: texto_botao;
    color: var(--buttoncolor);
    justify-items: center;
    align-content: center;
    gap: 15px;
    padding: 20px;
    box-sizing: border-box;
}

.texto_botao .botao {
    border-radius: 30px;
    color: var(--background);
    background-color: var(--buttoncolor);
    width: 200px;
    height: 50px;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.sea_container {
    max-width: 1140px;
    padding: 70px 30px;
    border: 100px 10px;
    background-color: var(--background2);
    display: grid;
    gap: 15px;
    grid-template-rows: repeat(2, 300px);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    box-sizing: border-box;
}

.sea-1 {
    grid-row: 1/2
}

.sea-2 {
    grid-row: 2/3;
}

.sea-3 {
    grid-row: 1/3;
}