.banner {
    display: flex;
    justify-content: center;
    padding: 0 0 40px 0 ;
}

.pri {
        background-color: var(--background);
}

.seg {
        background-color: var(--background2);
}

.banner_content {
    max-height: fit-content;
    max-width: 1140px;
    padding: 70px 30px;
    border: 100px 10px;
    display: grid;
    gap: 20px;
    grid-template-columns: 2fr 1.2fr 1fr 1fr;
    grid-template-rows: minmax(260px, 430px) minmax(180px, 260px);
    grid-template-areas:
        "banner1 banner1 banner1 banner1"
        "texto_botao banner2 banner3 banner4";
    box-sizing: border-box;
}

.banner-1 {
    grid-area: banner1;
    overflow: hidden;
}

.banner-2 {
    grid-area: banner2;
    overflow: hidden;
}

.banner-3 {
    grid-area: banner3;
    overflow: hidden;
}

.banner-4 {
    grid-area: banner4;
    overflow: hidden;
}

.texto_botao {
    display: grid;
    grid-area: texto_botao;
    color: var(--buttoncolor);
    justify-items: center;
    align-content: center;
    gap: 15px;
    padding: 20px;
    box-sizing: border-box;
}

.texto_botao .botao {
    border-radius: 30px;
    color: var(--background);
    background-color: var(--buttoncolor);
    width: 200px;
    height: 50px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.texto_botao .botao:hover {
    background-color: #8b817a;
    color: #ffffff;
}

.sea_container {
    max-height: fit-content;
    max-width: fit-content;
    padding: 70px 40px;
    display: grid;
    gap: 15px;
    grid-template-rows: repeat(2, 300px);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    box-sizing: border-box;

    img {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        cursor: pointer;
    }

    img:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.18);
}
}

.sea-1 {
    grid-row: 1/2
}

.sea-2 {
    grid-row: 2/3;
}

.sea-3 {
    grid-row: 1/3;
}